.post {
    table, td, th {
        padding: 10px;
        border: 1px solid gray;
        border-collapse: collapse;
    }
    td {
        text-align: center;
    }
    img {
        width: 300px;
    }
}
